<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %c{1.} - %msg%n"/>
        </Console>
    </appenders>
    <loggers>
        <logger name="org.springframework.web" level="debug"/>

        <logger name="me.jiangcai.crud.row.RowDefinitionHandler" level="info"/>
        <!--<logger name="me.jiangcai.payment" level="debug"/>-->

        <!--可调试微信的响应数据-->
        <!--<logger name="me.jiangcai.wx.protocol.impl.handler" level="debug"/>-->
        <!--<logger name="me.jiangcai.wx.web.mvc" level="trace"/>-->
        <!--<logger name="me.jiangcai.wx.pay.controller" level="trace"/>-->
        <!--<logger name="com.paymax" level="debug"/>-->
        <!--<logger name="me.jiangcai" level="debug"/>-->
        <!--建立一个默认的root的logger-->
        <root level="info">
            <appender-ref ref="Console"/>
        </root>

    </loggers>
</configuration>